* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins';
}

body {
	background: linear-gradient(to bottom right, #f5f5f5, #0D1117);
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100svh;
}

.header-logo {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
	background: transparent;
}

.logo-img {
	height: 100px;
	width: 100px;
}

.logo-text {
	font-size: 30px;
	font-weight: 700;
	color: black;
	letter-spacing: 1px;
}

.container {
	display: flex;
	flex-wrap: wrap;
	width: 850px;
	height: 550px;
	border-radius: 36px;
	box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	background-color: #fff;
	position: relative;
}

.signin-form {
	display: flex;
	opacity: 1;
	transition: opacity 0.3s ease;
}

.signup-form {
	display: none;
	opacity: 0;
	transition: opacity 0.3s ease;
}

.signin-form.active, .signup-form.active {
	display: flex;
	opacity: 1;
}

.signin-form:not(.active), .signup-form:not(.active) {
	display: none;
	opacity: 0;
}

.signin, .signup {
	flex: 1;
	padding: 50px 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

.signin-form .signin {
	background-color: #ffffff;
}
.signin-form .signup {
	background-color: #161B22;
	color: #ffffff;
}

.signup-form .signin {
	background-color: #161B22;
	color: #ffffff;
}
.signup-form .signup {
	background-color: #ffffff;
	color: #333;
}

.signin-form .signin h2, .signup-form .signup h2 {
	margin-bottom: 30px;
	font-weight: 700;
	color: #333;
	position: absolute;
	top: 70px;
}

.signin-form .signup h2, .signup-form .signin h2 {
	font-size: 26px;
	text-align: center;
	line-height: 1.1;
	color: #ffffff;
}

.signin-form .signin input, .signup-form .signup input {
	width: 100%;
	max-width: 280px;
	padding: 12px 16px 12px 44px;
	margin-bottom: 12px;
	border: none;
	border-radius: 25px;
	background-color: #f2f2f2;
	font-size: 14px;
	color: #333;
}

.input-group {
	margin-bottom: 5px;
	width: 100%;
	max-width: 280px;
}

.input-group .input-icon-group {
	margin-bottom: 0;
}

.input-group input {
	width: 100%;
	padding: 12px 16px 12px 44px;
	border: none;
	border-radius: 25px;
	background-color: #f4f4f4;
	font-size: 14px;
	color: #5cac82;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
}

.input-group i {
	color: #5cac82;
}

.input-icon-group {
	position: relative;
	width: 100%;
	max-width: 280px;
	margin-bottom: 10px;
}

.signin-form .signin .input-icon-group i {
	position: absolute;
	left: 16px;
	top: 50%;
	transform: translateY(-50%);
	color: #4b6e24;
	font-size: 1.1em;
	pointer-events: none;
}

.signup-form .signup .input-icon-group i {
	position: absolute;
	left: 16px;
	top: 50%;
	transform: translateY(-50%);
	color: #4b6e24;
	font-size: 1.1em;
	pointer-events: none;
}

.forgot {
	font-size: 12px;
	margin: 5px 0;
	color: #555;
	text-decoration: none;
}

.btn {
	padding: 12px 30px;
	border: 3px solid whitesmoke;
	border-radius: 25px;
	cursor: pointer;
	font-weight: 600;
	font-size: 15px;
	margin-bottom: 10px;
}

.signin-form .signin-btn {
	background-color: #238636;
	color: #fff;
	margin-top: 5px;
	transition: 0.3s;
	display: flex;
	align-items: center;
	justify-content: center;
}

.signup-form .signup-btn {
	background-color: #238636;
	color: #fff;
	margin-top: 5px;
	transition: 0.3s;
	display: flex;
	align-items: center;
	justify-content: center;
}

.signin-btn a {
	text-decoration: none;
	color: white;
}

.signin-btn:hover, .signup-form .signup-btn:hover {
	background-color: #58A6FF;
}

.signin-form .signup-btn {
	background-color: transparent;
	color: #fff;
	border: 2px solid #fff;
	transition: 0.3s;
}

.signin-form .signup-btn:hover {
	background-color: #ffffff;
	color: #58A6FF;
}

.signup-form .signin-btn {
	background-color: transparent;
	color: #fff;
	border: 2px solid #fff;
	transition: 0.3s;
}

.signup-form .signin-btn:hover {
	background-color: #ffffff;
	color: #58A6FF;
}

.signin-form .signup p {
	margin: 20px 0;
	font-size: 14px;
	text-align: center;
	color: #ffffff;
}

.signup-form .signin p {
	margin: 20px 0;
	font-size: 14px;
	text-align: center;
	color: #ffffff;
}

.social-accounts{
	display: flex;
	flex-direction: column;
	margin: 20px;
	bottom: 10px;
	position: absolute;
}
.signin-form .social-accounts{
	left: 80px;
}
.signup-form .social-accounts{
	right: 80px;
}

.social-icons{
	display: flex;
	justify-content: center;
}
.social-icons a{
	border: 1px solid #ddd;
	border-radius: 50%;	
	font-size: 25px;
	color: #555;
	padding: 10px;
	margin: 10px;
}
.social-icons a:hover {
	background: #58A6FF;
	color: #fff;
}
